.Container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: 100vh;
}

.inputField input{
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  width: 280px;
  font-size: 20px;
  outline: none;
}

.inputField label{
  padding: 1rem;
  font-size: 20px;
}

.submitBtn {
  width: 30%;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: blueviolet;
  font-size: 20px;
  outline: none;
  border: none;
}
